/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
  margin: 60px;
  background-color: rgb(240,160,160);
  font-family: arial, sans-serif;
  font-size: 34px;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 350px;
  font-weight: normal;
  margin-top: 50px;
}

/* Applies to all elements with <... class="someclass"> specified. */
.mobileClass { color: green; }

/* Applies to the element with <... id="someid"> specified. */
#mobileid { color: pink; }